.hidden {
    display: none;
}

.inline-block {
    display: inline-block;
}

main {
  margin: 5% auto;
  max-width: 70%;
}

#sabbath-bot-bounds {
  border: 1px solid grey;
}

#speech-bubble {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 1em;
    padding: 0.5em;
    vertical-align: top;
}

#text-input {
    font-size: 20px;
    width: 100%;
}

.intrinsic-container {
  position: relative;
  height: 0;
  overflow: hidden;
}
 
/* 16x9 Aspect Ratio */
.intrinsic-container-16x9 {
  padding-bottom: 56.25%;
}
 
/* 4x3 Aspect Ratio */
.intrinsic-container-4x3 {
  padding-bottom: 75%;
}
 
.intrinsic-container iframe {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}

.video-thumbnail {
  margin: 5px;
}

.thumbnail-caption {
  text-align: center;
}
